*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea/*
!.idea/dictionaries
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
databases
deploy/*.env
!deploy/dev.win.env
!deploy/dev.env
!deploy/dev.container.env
!cloud/server/src/test/resources/test.env
deploy/es_ca
deploy/*_data
deploy/docker-images
deploy/preset.zip
node_modules
bin
remote.pem
*.bak
aboutlibraries.json
app/composeApp/src/headlessTest/resources/package*
CouchbaseLiteTemp
dev/logs
dev/reports
*.hprof
*.ttf
download