<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 定义日志文件路径 -->
    <property name="LOG_PATH" value="${LOG_PATH}" />
    <property name="APP_NAME" value="A" />
    <!-- 文件输出，按天滚动 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天生成日志文件 -->
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留 30 天 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="org.eclipse.jetty" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <logger name="org.testcontainers" level="INFO" />
    <logger name="tc" level="INFO" />
    <logger name="com.github.dockerjava" level="WARN" />
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire"
        level="OFF" />
    <logger name="org.apache.http" level="WARN" />
    <logger name="org.apache.hc" level="OFF" />

    <logger name="io.r2dbc.postgresql.client" level="INFO" />
    <logger name="io.r2dbc.postgresql.util" level="INFO" />
    <logger name="io.r2dbc.postgresql.QUERY" level="INFO" />
    <logger name="io.r2dbc.postgresql.PARAM" level="INFO" />
    <logger name="io.r2dbc.h2.client" level="INFO" />
    <logger name="reactor.netty.tcp.TcpResources" level="INFO" />
    <logger name="reactor.netty.ReactorNetty" level="INFO" />
    <logger name="reactor.netty.transport" level="INFO" />
    <logger name="reactor.netty.channel" level="INFO" />
    <logger name="reactor.netty.resources" level="INFO" />
    <logger name="Exposed" level="DEBUG" />
</configuration>